<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.hal.no/bdd/BddDsl"
			class = "no.hal.bdd.bddDsl.BddDslPackage"
			genModel = "model/generated/BddDsl.genmodel" />
	</extension>
</plugin>
